@use '../global/mixins';

.hero {

    &__container {
        padding: 120px 80px;
        gap: 36px;
        display: flex;
        background: linear-gradient(90deg, rgba(240, 246, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }

    &__details {
        min-width: 300px;
        max-width: 520px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__description {
        @include mixins.s5;
    }

    &__actions {
        display: flex;
        gap: 24px;
    }

    &__shop-button {
        display: flex;
        padding: 18px 32px;
        gap: 8px;
    }

    &__watch-button {
        display: flex;
        padding: 18px 32px;
        @include mixins.l1;
        gap: 8px;
    }

    &__image1 {
        object-fit: cover;
        object-position: 100% 50%;
        width: 281px;
        height: 422px;
        border-radius: 10px;
    }

    &__images {
        width: 624px;
        height: 544px;
    }
}